{% extends 'EventBundle::layout.html.twig' %}


{% block stylesheets %}
    <!--glyphicons-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/event/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/event/css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap.css') }}"/>
{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 100px;">
        <a class="btn btn-primary" style="margin-bottom: 20px; float: right;" href="{{ path('event_new') }}">Create new event</a>
        <table class="table table-hover" id="bootstrap-table">
            <thead class="table-inverse">
            <tr>
                <th width="40">ID</th>
                <th>Product Name</th>
                <th>Car Type</th>
                <th>Car Model</th>
                <th>Car Year</th>
                <th>Image</th>
                <th>Stock</th>
                <th width='40px'>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>

                    <td><a href="{{ path('event_show', {'id': entity.id}) }}">{{ entity.productName }}</a></td>

                    <td>{{ entity.carMark }}</td>

                    <td>{{ entity.carModel }}</td>

                    <td>{{ entity.carYear }}</td>

                    <td>{{ entity.cover }}</td>

                    <td>{{ entity.stock }}</td>

                    <td>
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" style="margin-right: 10px;" class="dropdown-toggle pull-right">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu" id="dropdown_options">
                                <li><a href='#'><span class="glyphicon glyphicon-edit"></span> &nbsp;&nbsp; Edit</a></li>
                                <li><a href='#'><span class="glyphicon glyphicon-remove"></span> &nbsp;&nbsp; Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
            crossorigin="anonymous"></script>
    <!-- Bootstrap 4 Alpha JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
            integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
            crossorigin="anonymous"></script>

    <script href="{{ asset('bundles/event/js/datatable.js') }}"></script>
    <script href="{{ asset('bundles/event/js/jquery.bdt.js') }}"></script>
    <script href="{{ asset('bundles/event/js/jquery.sortelements.js') }}"></script>
{% endblock %}
