{% extends 'EventBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <!--glyphicons-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('bundles/event/css/header.css') }}"/>
    <link href="{{ asset('bundles/event/css/form.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="form" style="margin-top: 100px;">

        {#<div class="thumbnail"><img src="{{ asset('bundles/user/img/login_image.png') }}"/></div>#}
        <h1 class="display-5">Add new event</h1>

        {#error message#}
        {#{% if error %}#}
        {#<div class="error-message">{{error.message|trans}}</div>#}
        {#{% endif %}#}

        <form method="POST" action="{{ path('event_new') }}" enctype="multipart/form-data" role="form">

            {{ form_errors(form) }}


            {{ form_row(form.productName, {'attr': {'id': 'product name', 'placeholder': 'product name'}}) }}
            {{ form_row(form.carMark, {'attr': {'id': 'car_mark', 'placeholder': 'car mark'}}) }}
            {{ form_row(form.carModel, {'attr': {'id': 'car_model', 'placeholder': 'car model'}}) }}
            {{ form_row(form.carYear, {'attr': {'id': 'car_year', 'placeholder': 'car year'}}) }}
            {{ form_row(form.stock, {'attr': {'id': 'stock', 'placeholder': 'stock'}}) }}
            {{ form_row(form.details, {'attr': {'id': 'location', 'placeholder': 'details'}}) }}
            {{ form_row(form.files , {'attr': {'multiple': 'multiple'}}) }}
            {{ form_row(form.submit) }}

            {{ form_rest(form) }}

        </form>

        {#<form id="upload" class="dropzone" action=" path('event_new') }}" enctype="multipart/form-data">#}
        {#<input type="hidden" name="file" multiple><br/>#}
        {#</form>F#}

    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>
    <script>
        var myDropzone = new Dropzone("div#myId", {url: "/file/post"});
        $("div#myId").dropzone({url: "/file/post"});

    </script>
{% endblock %}