<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome! to base.html.twig{% endblock %}</title>

    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('bundles/event/css/header.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('bundles/event/css/event.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('bundles/event/css/events.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('bundles/event/css/main.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap.css') }}"/>#}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block header %}
    {{ knp_menu_render('EventBundle:Builder:mainMenu') }}
{% endblock %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
