{# src/Yoda/UserBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('bundles/user/css/custom_login.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="form" style="margin-top: 50px;">

        <div class="thumbnail"><img src="{{ asset('bundles/user/img/login_image.png') }}"/></div>
        <form class="login-form" action="{{ path('login_check') }}" method="post">

{#            error message#}
            {% if error %}
                <div class="error-message">{{error.message|trans}}</div>
            {%endif%}

            <input type="text" id='username' name="_username" placeholder="username" required/>
            <input type="password" id='password' name="_password" placeholder="password" required/>
            <div class='checkbox'>
                <input name='remember' type="checkbox" id="checkbox" value='remember_me'/>
                <label for="checkbox">Remember me</label>
            </div>
            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ asset('bundles/user/js/login.js') }}"></script>
{% endblock %}